.contact-wrapper{
  text-align: center;
  padding:0  auto;
  height: 360px;
  background-color: #f0f0f0;
  .heading{
    margin-bottom: 35px;
    padding-top: 80px;
  }
  p{
    font-family: ヒラギノ角ゴシック;
    font-size: 15px;
    font-weight: 300;
  }
  .btn{
    margin-top: 30px;
  }
}
@media(max-width:768px){
  .contact-wrapper{
  p{
    margin: 0 5%;
  }
}
}