.wrapper{
      
  .key-visual{
    background-image: url(../images/hero.jpg);
    height: 720px;
    text-align: center;
    color: white;
    font-family: Montserrat;
    background-size: cover;
    .specialist{
      padding-top: 250px;
      h1{
        font-size: 72px;
      }
      h3{
        margin-top: 30px;
        font-size: 24px;
        font-weight: normal;
        letter-spacing: 1.2px;
      }
    }
    .btn{
      margin: 60px auto;
    }
    .scroll{
      position: relative;
      float: right;
      margin-right: 30px;
      span{
        bottom:150px;
        right: 30px;
        writing-mode: vertical-lr;
        font-family: Montserrat;
        font-size: 12px;
        letter-spacing: 1.5px;
        &::after{
          position: absolute;
          content: "";
          bottom: -50px;
          left: 50%;
          width: 1px;
          height: 100px;
          background: #fff;
          animation: pathmove 1.4s ease-in-out infinite;
          opacity: 0;
        }
      }
    }
  }
  @keyframes pathmove{
    0%{
      height:0;
      top:50px;
      opacity: 0;
    }
    30%{
      height:50px;
      opacity: 0.5;
    }
    100%{
      height:80px;
      top:80px;
      opacity: 0.8;
    }
  }

  .news-wrapper{
    margin: 70px 15% 150px;
    display: flex;
    .news-list{
      display: flex;
      margin-left: 50px;
      p{
        margin-right: 20px;
        font-size: 15px;
        font-family: Montserrat;
      }
      h3{
        width: 80px;
        background-color: #e8e8e8;
        padding: 10px 15px;
        border-radius: 50vh;
        font-size: 12px;
        font-weight: 700;
        text-align: center;
        margin-top: -10px;
        margin-bottom: 30px;
      }
      a{
        color: black;
        text-decoration: none;
        margin-left: 20px;
        font-size: 15px;
        font-family: Montserrat;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }

  .service-wrapper{
    margin: 0 10% 130px;
    .heading{
      text-align: center;
      margin-bottom: 35px;
    }
    .service-list{
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      .service{
        width: 350px;
        img{
          width: 100%;
        }
        h3{
          margin: 25px 0 20px;
          text-align: center;
          font-size: 18px;
          font-family: Montserrat;
        }
        p{
          font-size: 15px;
          font-family: ヒラギノ角ゴシック;
          font-weight: 300;
        }
      }
    }
  }
    .btn{
       margin: 0 auto;
    }
    .works-wrapper{
      margin: 0 5%;
      height: 650px;
      position: relative;

	#slide{
    width: 750px;
    padding-top: 60px;
  }
	.swiper-container{ 
    width:100%; 
    max-width:750px; 
  }
	
	.swiper-button-prev::after,.swiper-button-next::after {	
		color:#391e88;
	}
      .works-right{
        position: absolute;
        top: 0;
        right: 0;
        height: 650px;
        width: 60%;
        text-align: center;
        background-color: #f0f0f0;
        
        .works-inner{
          padding-top: 210px;
          margin-left: 240px;
          .heading{
            margin-bottom: 30px;
          }
          .btn{
            margin-top: 30px;
          }
        }
      } 
    }
    .company-wrapper{
      text-align: center;
      background-image: url(../images/bg-face.png),
       url(../images/bg-circle.png);
      background-position: center ;
      background-repeat: no-repeat;
      margin: 60px 2% 0;
      padding: 140px 0;
      h1{
        display: inline-block;
        font-size: 40px;
        font-family: ヒラギノ角ゴシック;
        font-weight: 600;
        margin: 40px 0;
        background: linear-gradient(transparent 70%, #f5f534 0%);
      
      }
      .btn{
        margin-top: 30px;
      }
    }

    .recruit-wrapper{
      display: flex;
      height: 340px;
      margin:65px 11% 100px ;
      .recruit-left{
        width: 40%;
        text-align: center;
        background-color: #e7e7e7;
        .heading{
          margin-top: 70px;
          margin-bottom: 30px;
        }
        .btn{
          margin-top: 30px;
        }
      }
      img{
        width: 60%;
      }
    }
  }


@media(max-width:768px){
  .wrapper{
     overflow: hidden;
    .key-visual{
    .specialist{
      text-align: left;
      padding-top: 170px;
      padding-left: 15px;
      h1{
        font-size: 48px;
        line-height: 1.4;
      }
      h3{
        font-size: 16px;
      }
    }
  }
  .news-wrapper{
    flex-direction: column;
    margin: 40px auto;
    .heading{
      text-align: center;
      margin-bottom: 32px;
    }
    .news-list{
      flex-direction: column;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 40px;
      position: relative;
      
      h3{
       position: absolute;
       left: 110px;
       top: 5px;
       padding: 5px 10px;
     
      }
      a{
        margin-top: 10px;
        margin-left: 0;
        line-height: 1.8;
      }
    }
  }
  .service-wrapper{
    margin: 80px auto;
    .service-list{
      flex-direction: column;
     .service{
       width: 100%;
       margin: 40px auto;
       p{
         font-size: 12px;
         text-align: center;
       }
     }
     
    }
  }
  .works-wrapper{
   margin: 0 auto;
   position: static;
   display: inline-block;
   width: 100%;
   height: 260px;
    #slide{
      width: 100%;
      padding-top: 0;
      
    }
    .works-right{
     position: static;
     margin-left: 0;
     width: 100%;
     height: 520px;
     .works-inner{
      margin-left: 0;
      margin-top: -100px;
      p{
        font-size: 13px;
        line-height: 1.5;
      }
     }
    }
   
    .swiper-container{ 
      margin: 0 auto;
      width:100%; 
      height: 260px;
      
     img{
       width: 100%;
       height: 260px;
       object-fit: cover;
       
     }
     
    }
  }
  .company-wrapper{
    background-image: url(../images/sp_bg-circle.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 375px;
    margin: 0 auto 100px ;
    padding:20px 8% 80px;
    height: 650px;
    .heading{
      margin-top: 160px;
    }
   
    h1{
      font-size: 32px;
      line-height: 1.5;
      background: linear-gradient(transparent 85%, #f5f534 0%);
      span{
        background: linear-gradient(transparent 60%, #f5f534 0%);
      }
    }
    p{
      font-size: 14px;
      font-weight: 300;
      line-height: 1.2;
    }
  }
  .recruit-wrapper{
    flex-direction: column;
    margin:150px 2% 300px ;
    
    .recruit-left{
      width: 100%;
      text-align: center;
      background-color: #e7e7e7;
      .heading{
        margin-top: 50px;
        margin-bottom: 30px;
      }
      .btn{
        margin-top: 30px;
        margin-bottom: 50px;
      }
    }
    img{
      width: 100%;
      order: -1;
      height:300px;
    }
  }

}
}

@media(min-width:769px){
  .sp-only{
    display: none;
  }
}