.article-wrapper{
  .article{
    margin: 70px 23% 110px;
    color: #333333;
   h1{
     font-family: Montserrat;
     font-size: 32px;
     font-weight: 400;
     line-height: 1.5;
     margin-bottom: 15px;
   }
   h5{
    margin-right: 20px;
    font-size: 13px;
    font-family: Montserrat;
    font-weight: 400;
  }
  span{
    display: block;
    width: 80px;
    background-color: #e8e8e8;
    padding: 8px 15px;
    border-radius: 50vh;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    margin-top: -20px;
    margin-left: 80px;
  }
  img{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  p{
    font-family: ヒラギノ角ゴシック;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8;
  }
  h3{
    position: relative;
    margin-top: 70px;
    margin-bottom: 30px;
    font-family: ヒラギノ角ゴシック;
    font-size: 24px;
    font-weight: 600;
    padding: 8px 16px;

    &::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 100%;
    content: "";
    border-radius: 3px;
    background-color: #391e88;
    }
  }
  h4{
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: ヒラギノ角ゴシック;
    font-size: 18px;
  }
  .icon-wrapper{
    margin-top: 40px;
    display: flex;
    .icons{
      padding-right: 15px;
    }
  }
  .page-list{
    border-top: 1px solid #b8aed5;
    border-bottom: 1px solid #b8aed5;
    display: flex;
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
    div{
      width: 50%;
      padding: 10px 0;
     
      &:first-child{
        border-right: 1px solid #b8aed5;
      }
      &:first-child::before{
        content: '';
        display: inline-block;
        border-style: solid;
        border-width: 6px 10px 6px 0;
        border-color: transparent #391e88 transparent transparent;
        float: left;
      }
      &:last-child::before{
        content: '';
        display: inline-block;
        border-style: solid;
        border-width: 6px 0 6px 10px;
        border-color: transparent transparent transparent #391e88 ;
        float: right;
      }
    }
  }
  a{
    text-decoration: none;
    color: #391e88;
    font-size: 13px;
    display: block;
    text-align: center;
    &:hover{
      text-decoration: underline;
    }
  }
  }
}



@media(max-width:768px){
  .article-wrapper{
    .article{
      margin: 70px 4% 110px;
      h1{
        font-size: 22px;
      }
      img{
        width: 100%;
      }
      .icon-wrapper{
        display: flex;
        flex-wrap: wrap;
        .icons{
          display: flex;
          .twitter-share-button{
            margin-right: 10px;
          }
        }
      }
      
      .page-list{
        padding: 10px 0;
        div{
          &:first-child::before{
            margin-right: 15px;
          }
          &:last-child::before{
            margin-left: 15px;
          }
          a{
            width: 100%;
            padding: 0 10px;
          }
              }
            }
      }
  }
}