<footer>
<nav>
<ul>
<li><a href="home.html">HOME</a></li>
<li><a href="news.html">NEWS</a></li>
<li><a href="service.html">SERVICE</a></li>
<li><a href="works.html">WORKS</a></li>
<li><a href="company.html">COMPANY</a></li>
<li><a href="recruit.html">RECRUIT</a></li>
<li><a href="contact.html">CONTACT</a></li>
</ul>
</nav>
<p>このサイトを参考にしています。<a href="https://pon-design.netlify.app/">https://pon-design.netlify.app/</a></p>
</footer>