<header id="navigation">
<a href="home.html" class="logo">PON DESIGN</a>
<nav class=pc-nav>
<ul>
<li><a href="news.html">NEWS</a></li>
<li><a href="service.html">SERVICE</a></li>
<li><a href="works.html">WORKS</a></li>
<li><a href="company.html">COMPANY</a></li>
<li><a href="recruit.html">RECRUIT</a></li>
<li><a href="contact.html">CONTACT</a></li>
</ul>
</nav>
</header>


<header class=sp-nav>
   <button class="btn-menu">メニュー</button>
<nav class="sp">
<ul>
<li><a href="news.html">NEWS</a></li>
<li><a href="service.html">SERVICE</a></li>
<li><a href="works.html">WORKS</a></li>
<li><a href="company.html">COMPANY</a></li>
<li><a href="recruit.html">RECRUIT</a></li>
<li><a href="contact.html">CONTACT</a></li>
</ul>
</nav>
</header>