<section class="wrapper">
<section class="top-wrapper">
<div class="heading">
   <h2>NEWS</h2>
   <p>お知らせ</p>
  </div>
</section>


<ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope
      itemtype="https://schema.org/ListItem">
    <a itemprop="item" href="home.html">
        <span itemprop="name">HOME</span>
    </a>
    <meta itemprop="position" content="1" />
  </li>

  <li itemprop="itemListElement" itemscope
      itemtype="https://schema.org/ListItem">
    <a itemprop="item" href="news.html">
        <span itemprop="name">NEWS</span>
    </a>
    <meta itemprop="position" content="2" />
  </li>

  <li itemprop="itemListElement" itemscope
      itemtype="https://schema.org/ListItem">
        <span itemprop="name">WEBデザインニュースサイト「ウェブマガジン」に取材いただきました</span>
    
    <meta itemprop="position" content="3" />
  </li>
</ol>

<section class="article-wrapper">
  <div class="article">
<h1>Webデザインニュースサイト「ウェブマガジン」に取材いただきました</h1>
 <h5>2030.02.01</h5>
   <span>お知らせ</span>

  <img src="images/news-article.jpg" alt="女性の画像">
  <p>テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
<h3>大見出し</h3>
<p>テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
<h4>小見出し</h4>
<p>テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
<br>
<p>テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>

 <div class="icon-wrapper">
 <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=100px&layout=button_count&action=like&size=small&share=true&height=46&appId" width="190px" height="40px" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>

<div class="icons">
 <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

 <a href="https://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="basic-label" data-hatena-bookmark-lang="ja" data-hatena-bookmark-width="86" data-hatena-bookmark-height="20" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/v4/public/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
</div>

 <div class="line-it-button" data-lang="ja" data-type="share-b" data-ver="3" data-url="https://social-plugins.line.me/ja/how_to_install" data-color="default" data-size="small" data-count="false" style="display: none;"></div>
 <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>

</div>

  <div class="page-list">
  <div><a href="#">Web Conference様のサイトを制作いたしました</a></div>
  <div><a href="#">プライバシーマーク取得のお知らせ</a></div>
  </div>
  <a href="news.html">NEWS一覧</a>

  </div>

</section>

<section class="contact-wrapper">
   <div class="heading">
   <h2>CONTACT</h2>
   <p>お問い合わせ</p>
  </div>

  <p>Webサイトの制作のご依頼やお見積りなど、<br class="sp-only">お気軽にご相談ください。</p>

    <div class="btn btn-more">
<a href="contact.html">MORE</a>
</div>
</section>
<button id="page-top" class="page-top"></button>
</section>  