<section class="wrapper">
<section class="top-wrapper">
<div class="heading">
   <h2>NEWS</h2>
   <p>お知らせ</p>
  </div>
</section>

<ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope
      itemtype="https://schema.org/ListItem">
    <a itemprop="item" href="home.html">
        <span itemprop="name">HOME</span>
    </a>
    <meta itemprop="position" content="1" />
  </li>

  <li itemprop="itemListElement" itemscope
      itemtype="https://schema.org/ListItem">
    
        <span itemprop="name">NEWS</span>
    
    <meta itemprop="position" content="2" />
  </li>
</ol>

<section class="news-wrapper">
  <div class="article">
  <div class="news-list">
   <p>2030.02.01</p>
   <h3>お知らせ</h3>
   <a href="news-article.html">Webデザインニュースサイト「ウェブマガジン」に取材いただきました</a>
  </div>
  <div class="news-list">
   <p>2030.01.25</p>
   <h3>制作実績</h3>
   <a href="#">Smoothiesta様のWebサイトを制作いたしました</a>
  </div>
  <div class="news-list">
   <p>2030.01.20</p>
   <h3>採用</h3>
   <a href="#">Webデザイナーを１名募集中です！</a>
  </div>
  <div class="news-list">
   <p>2030.01.05</p>
   <span><h3>お知らせ</h3></span>
   <a href="#" class="bottom">  (２行のテキストの場合テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</a>
  </div>
  <div class="news-list">
   <p>2030.01.14</p>
   <h3>お知らせ</h3>
   <a href="#">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</a>
  </div>
  <div class="news-list">
   <p>2030.01.14</p>
   <h3>お知らせ</h3>
   <a href="#">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</a>
  </div>
  <div class="news-list">
   <p>2030.01.14</p>
   <h3>お知らせ</h3>
   <a href="#">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</a>
  </div>
  <div class="news-list">
   <p>2030.01.14</p>
   <h3>お知らせ</h3>
   <a href="#">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</a>
  </div>
  <div class="news-list">
   <p>2030.01.14</p>
   <h3>お知らせ</h3>
   <a href="#">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</a>
  </div>
  <div class="news-list">
   <p>2030.01.14</p>
   <h3>お知らせ</h3>
   <a href="#">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</a>
  </div>
  <div class="news-list">
   <p>2030.01.14</p>
   <h3>お知らせ</h3>
   <a href="#">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</a>
  </div>
  <div class="news-list">
   <p>2030.01.14</p>
   <h3>お知らせ</h3>
   <a href="#">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</a>
  </div>
  <div class="news-list">
   <p>2030.01.14</p>
   <h3>お知らせ</h3>
   <a href="#">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</a>
  </div>
  <div class="news-list">
   <p>2030.01.14</p>
   <h3>お知らせ</h3>
   <a href="#">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</a>
  </div>
  <div class="news-list">
   <p>2030.01.14</p>
   <h3>お知らせ</h3>
   <a href="#">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</a>
  </div>
  <div class="news-list">
   <p>2030.01.14</p>
   <h3>お知らせ</h3>
   <a href="#">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</a>
  </div>
  <div class="news-list">
   <p>2030.01.14</p>
   <h3>お知らせ</h3>
   <a href="#">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</a>
  </div>
  <div class="news-list">
   <p>2030.01.14</p>
   <h3>お知らせ</h3>
   <a href="#">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</a>
  </div>
  <div class="news-list">
   <p>2030.01.14</p>
   <h3>お知らせ</h3>
   <a href="#">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</a>
  </div>
  <div class="news-list">
   <p>2030.01.14</p>
   <h3>お知らせ</h3>
   <a href="#">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</a>
  </div>
  <div>

  <div class="page">
     <span>1</span>
     <a href="#">2</a>
     <a href="#">3</a>
  </div>
</section>
<section class="contact-wrapper">
   <div class="heading">
   <h2>CONTACT</h2>
   <p>お問い合わせ</p>
  </div>

  <p>Webサイトの制作のご依頼やお見積りなど、<br class="sp-only">お気軽にご相談ください。</p>

    <div class="btn btn-more">
<a href="contact.html">MORE</a>
</div>
</section>
<button id="page-top" class="page-top"></button>
</section>
